In [21]:
import os, pandas as pd, ast
from pathlib import Path
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

load_dotenv()
engine = create_engine(os.getenv("DATABASE_URL"))
print("Connected:", engine)

Connected: Engine(postgresql://postgres:***@localhost:5432/spotify)

In [22]:
# Load cleaned data
root = Path.cwd().parent
csv_path = root / "data" / "tracks_clean.csv"
df = pd.read_csv(csv_path, low_memory=False)
len(df), df.columns.tolist()[:10]

(28356,
 ['track_id',
  'track_name',
  'track_artist',
  'track_popularity',
  'track_album_id',
  'track_album_name',
  'track_album_release_date',
  'playlist_name',
  'playlist_id',
  'playlist_genre'])

In [23]:
# Create staging table
staging_sql = """
CREATE TABLE IF NOT EXISTS staging_tracks (
    track_id TEXT,
    track_name TEXT,
    track_artist TEXT,
    track_popularity INT,
    track_album_id TEXT,
    track_album_name TEXT,
    track_album_release_date TEXT, -- keep as TEXT in staging
    playlist_name TEXT,
    playlist_id TEXT,
    playlist_genre TEXT,
    playlist_subgenre TEXT,
    danceability NUMERIC,
    energy NUMERIC,
    key INT,
    loudness NUMERIC,
    mode INT,
    speechiness NUMERIC,
    acousticness NUMERIC,
    instrumentalness NUMERIC,
    liveness NUMERIC,
    valence NUMERIC,
    tempo NUMERIC,
    duration_ms INT
);
TRUNCATE staging_tracks;
"""

with engine.connect() as con:
    con.execute(text(staging_sql))
print("Staging table created and truncated.")

Staging table created and truncated.

In [24]:
# Load data into staging table
cols = [
    "track_id", "track_name", "track_artist", "track_popularity",
    "track_album_id", "track_album_name", "track_album_release_date",
    "playlist_name", "playlist_id", "playlist_genre", "playlist_subgenre",
    "danceability", "energy", "key", "loudness", "mode", "speechiness",
    "acousticness", "instrumentalness", "liveness", "valence", "tempo",
    "duration_ms"
]
missing = [c for c in cols if c not in df.columns]
if missing:
    raise ValueError(f"Missing columns in DataFrame: {missing}")

df[cols].to_sql("staging_tracks", engine, if_exists="append", index=False, chunksize=5000, method="multi")
print(f"Loaded {len(df)} rows into staging_tracks table.")

Loaded 28356 rows into staging_tracks table.

In [25]:
# Insert unique artists into artists table
with engine.begin() as con:
    con.execute(text("CREATE TEMP TABLE tmp_artists(name TEXT PRIMARY KEY);"))
    artists_df = pd.read_sql(
        text("""
        SELECT DISTINCT track_artist AS name
        FROM staging_tracks
        WHERE track_artist IS NOT NULL AND track_artist <> '';
        """), con
    )
    artists_df.to_sql("tmp_artists", con, if_exists="append", index=False)
    con.execute(text("""
    INSERT INTO artists (name)
    SELECT name FROM tmp_artists
    ON CONFLICT (name) DO NOTHING;
    """))
    print(f"Inserted {len(artists_df)} unique artists into artists table.")

Inserted 10692 unique artists into artists table.

In [26]:
# Insert unique albums into albums table with parsed release year
with engine.begin() as con:
    con.execute(text(r"""
        CREATE TEMP TABLE tmp_albums AS
        SELECT DISTINCT
            track_album_name AS album_name,
            CASE
                WHEN track_album_release_date ~ '^\d{4}-\d{2}-\d{2}$' THEN CAST(split_part(track_album_release_date, '-', 1) AS INT)
                WHEN track_album_release_date ~ '^\d{4}-\d{2}$' THEN CAST(split_part(track_album_release_date, '-', 1) AS INT)
                WHEN track_album_release_date ~ '^\d{4}$' THEN CAST(track_album_release_date AS INT)
                ELSE NULL
            END AS release_year
        FROM staging_tracks
        WHERE track_album_name IS NOT NULL AND track_album_name <> '';
    """))

    con.execute(text("""
        INSERT INTO albums (album_name, release_year)
        SELECT album_name, release_year
        FROM tmp_albums
        ON CONFLICT (album_name, release_year) DO NOTHING;
    """))
    print("Inserted unique albums into albums table (year parsed when available).")

Inserted unique albums into albums table (year parsed when available).

In [27]:
# Insert tracks into tracks table, linking to albums
with engine.begin() as con:
    con.execute(text(r"""
        CREATE TEMP TABLE tmp_tracks AS
        SELECT
          st.track_id,
          st.track_name,
          st.track_album_name,
          CASE
            WHEN st.track_album_release_date ~ '^\d{4}-\d{2}-\d{2}$'
              THEN st.track_album_release_date::date
            ELSE NULL
          END AS release_date,
          st.track_popularity AS popularity,
          st.duration_ms,
          st.danceability, st.energy, st.loudness, st.valence, st.tempo,
          st.key, st.mode, st.speechiness, st.acousticness, st.instrumentalness, st.liveness
        FROM staging_tracks st;
    """))

    con.execute(text("""
        INSERT INTO tracks (
          track_id, track_name, album_id, explicit, popularity, duration_ms, year, release_date,
          danceability, energy, loudness, valence, tempo, key, mode, speechiness,
          acousticness, instrumentalness, liveness, time_signature
        )
    SELECT
      t.track_id,
      t.track_name,
      a.album_id,
      NULL,          -- explicit not in dataset
      t.popularity,
      t.duration_ms,
      NULL,          -- no separate year column
      t.release_date,
      t.danceability, t.energy, t.loudness, t.valence, t.tempo,
      t.key, t.mode, t.speechiness, t.acousticness, t.instrumentalness, t.liveness,
      NULL           -- time_signature not in dataset
    FROM tmp_tracks t
    LEFT JOIN albums a ON a.album_name = t.track_album_name
    WHERE t.track_id IS NOT NULL
      AND t.track_name IS NOT NULL
    ON CONFLICT (track_id) DO NOTHING;
    """))
    print("Inserted tracks into tracks table.")

Inserted tracks into tracks table.

In [28]:
# Insert track-artist relationships into track_artists table
with engine.begin() as con:
    con.execute(text("""
        CREATE TEMP TABLE temp_ta AS
        SELECT st.track_id, st.track_artist AS artist_name
        FROM staging_tracks st
        WHERE st.track_id IS NOT NULL
        AND st.track_artist IS NOT NULL
        AND st.track_artist <> '';
        """))
    
    con.execute(text("""
        INSERT INTO track_artists (track_id, artist_id)
        SELECT t.track_id, ar.artist_id
        FROM temp_ta t
        JOIN artists ar ON ar.name = t.artist_name
        JOIN tracks tr ON tr.track_id = t.track_id
        ON CONFLICT (track_id, artist_id) DO NOTHING;
        """))
    
    print("Inserted track-artist relationships into track_artists table.")

Inserted track-artist relationships into track_artists table.

In [ ]:
# Summary counts
with engine.begin() as con:
    artists_n = con.execute(text("SELECT COUNT(*) FROM artists;")).scalar()
    albums_n = con.execute(text("SELECT COUNT(*) FROM albums;")).scalar()
    tracks_n = con.execute(text("SELECT COUNT(*) FROM tracks;")).scalar()
    ta_n = con.execute(text("SELECT COUNT(*) FROM track_artists;")).scalar()
    no_album = con.execute(text("SELECT COUNT(*) FROM tracks WHERE album_id IS NULL;")).scalar()

print(f"artists: {artists_n:,}")
print(f"albums: {albums_n:,}")
print(f"tracks: {tracks_n:,}")
print(f"track_artists: {ta_n:,}")
print(f"tracks without album: {no_album:,}")

artists: 10,692
albums: 21,019
tracks: 28,352
track_artists: 28,352
tracks without album: 0

In [ ]:
# Sample tracks without matched albums
with engine.begin() as con:
    sample = con.execute(text("""
    SELECT track_id, track_name, (SELECT album_name FROM albums a WHERE a.album_id = t.album_id) AS matched_album
    FROM tracks t
    WHERE album_id IS NULL
    LIMIT 5;
    """)).fetchall()
sample

[]